<?xml version="1.0" encoding="UTF-8"?>


<!-- This web.xml file should not required when using a Servlet 3.0 container.
     we should see implementation details at http://jersey.java.net/nonav/documentation/latest/jax-rs.html ,
     but this documentation seems missing-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
  
  <description>
    Demonstrates managing configuration for Integration tests and Jetty run environments for a simple application.
  </description>
  <display-name>Gradle War Integration Test example project</display-name>
  
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.github.dispader.gwite.controller</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  
</web-app>
